# 1. 忽略 Python 编译文件和虚拟环境
__pycache__/
*.py[cod]
venv/
.env/
.venv/
env/

# 2. 忽略 IDE 配置文件
.idea/
.vscode/
*.swp

# 3. 忽略大型数据文件 (重要！！！)
# 我们只上传代码，数据通常放在网盘链接里，或者只保留少量样例
# kaggle 公开数据集，孟加拉国湿地植物掩码标注
data/archive/  
# 经过数据增强数据集
data/chenhu_seg/
# 添加了RTS信息的数据集
data/dataset_images_analysis/
# 原始视频、切片图像、标注json以及yolotxt
data/self_dataset/
data/DOM/


# 4. 忽略训练输出的大型文件
# runs/ 文件夹通常包含大量日志和模型，建议忽略
# 如果你想保留验证集的图表，可以手动添加例外，但通常不传
src/evaluation/runs/
runs/DOM/*.zip
runs/DOM/*.laz


# 5. 忽略 YOLO 下载的预训练权重
*.pt

# 6. 系统文件
.DS_Store

# 7. 保留规则 (可选)
# 如果你想保留文件夹结构但不传文件，可以在文件夹里放一个 .gitkeep
# 下面这两行表示：保留 data 目录，但不传里面的内容
!data/.gitkeep